.info-container {
    margin-bottom: 80px;
}

.infos {
    background-color: #E8E7E7;
    font-size: 30px;
    font-weight: 600;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 80px;
}

.info-container p {
    opacity: 80%;
    text-align: center;
}

.second-section {
    margin-top: 150px;
    text-align: justify;
    opacity: 85%;
}

.second-section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.second-section ul {
    margin-top: 20px;
}

.second-section li {

    list-style: none;
}

.mapa-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-decoration: none;
}

.second-section button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#94BBE9, #C0B5BA, #EEAECA);
    width: 249px;
    height: 100px;
    font-size: 50px;
    border-radius: 50px;
    border: 5px solid #E8E7E7;
}
